<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Mapify</title>

		<!-- Bootstrap core CSS -->
		<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="../static/css/cover.css" rel="stylesheet">
	</head>

	<style>
		#map-canvas {
			height: 100%;
			margin: 0px;
			padding: 0px
		}
	</style>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="../static/js/infobox.js" type="text/javascript"></script>
	<script>
		var data = {{ results.data | tojson | safe }};

		var myCenter = new google.maps.LatLng({{ results.center.lat }}, {{ results.center.lon }});
		var infobox = new InfoBox();
	    
	    function initialize()
	    {
	    	var mapProp = {
	    		center:myCenter,
	    		zoom:12,
	    		mapTypeId:google.maps.MapTypeId.ROADMAP
	    	};

	    	var map = new google.maps.Map(document.getElementById("map-canvas"),mapProp);

	    	google.maps.event.addListener(map, "click", function() { infobox.close() });

	    	setMarkers(map, data);
            infowindow = new google.maps.InfoWindow({
			    content: "loading..."
			});
		}

		function createMarker(data, map, index){
			//Marker(This creates the marker, nothing further is needed)
			place = data["Place"];
			myHouse = new google.maps.LatLng(place["lat"], place["lon"]);
			marker = new google.maps.Marker({
				position: myHouse,	// Marker Position
				map: map,			// Which map this marker is on, defaults to current
				title: 'More Info',	// This displays text when the cursor hovers over the marker
				//draggable: false,
	   	           	    icon: 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld='+index+'|FFFF00|000000'
	
                               //icon: '../static/img/marker.png'
			});

			// Begin code to get custom infobox
			var boxText = document.createElement("div");
			boxText.style.cssText = "border: 2px solid #2d2d2d ; text-align:left;margin-left:3px;background-color : rgba(255, 255, 255, 1);;"; 
			boxText.innerHTML = "<div><strong><font size=\"3\"color = #222222>" + index + "</font></strong></div> \
                 							<p class=\"list_field_description\">HouseNumber -- " + place['housenumber'] + "</p>\
						<p class=\"list_field_description\">Street --" + place['road'] + "</p>\
						<p class=\"list_field_description\">City --"  + place['city'] + "</p> \
						<p class=\"list_field_description\">Postcode --" +  place['postcode'] + 
						"<p><a href=\"" + data['url'] + "\" target=\"_blank\" class=\"list_field_link\">" + data['short_url'] + "</a>" +
						"</p></p><div><font size=\"3\"color = #222222>"  + "</font></div>";
			var myOptions = {
				content: boxText,
				disableAutoPan: false,
				maxWidth: 0,
				pixelOffset: new google.maps.Size(-251, 0),//X axis should be half the size of box width
				zIndex: null,
				boxStyle: {
					opacity: 1,
					width: "250px",
					height: "400px"
				},
				closeBoxMargin: "2px 2px 2px 2px",
				closeBoxURL: "../static/img/close.png",
				infoBoxClearance: new google.maps.Size(10, 10),
				isHidden: false,
				pane: "floatPane",
				enableEventPropagation: false
				};

			google.maps.event.addListener(marker, "click", function (e) {
				infobox.close();
				infobox.setOptions(myOptions);
				infobox.open(map, this);
			});
			return marker;
		}

		function setMarkers(map, markers) {
			for (var i = 0; i < markers.length; i++) {
				createMarker(markers[i], map,i + 1);
			}
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<body style="background-image:url('../img/map2.png')">

		<nav class="navbar navbar-default" role="navigation" style="background-image:url('../img/map2.png'); width:100%;padding-bottom:0px;margin-bottom:0px;border-bottom: 3px ridge #DDDDDD;">    
			<div class="container-fluid" style="background-image:url('../img/map2.png')">
				<!-- Brand and toggle get grouped for better mobile display -->
				<span class="masthead-brand-res pull-left">Mapify</span>

                        <form name="search" action="/parse/" method="post" style="background-color:transparent;">

				<input type="text"  name="url" placeholder="url" style="margin-top:5px; width: 400px; height:33px;  border: 3px outset #FF5930" id="main_search_box">
				<input TYPE="submit" Value="Search" class="btn btn-danger" >
         </form>
			</div>  
		</nav>  

		<div class="container-fluid" style="background-color:white; height:100%;padding:10px;">
			<div class="row" style="height:100%">
				<div class="col-md-4"  style="height:100%;padding-left:8px;padding-right:1px;overflow-y:scroll;">
				<!--<div>Filters 
				<select name="filters" onchange='OnChange(this.form.filters);'>
				<option value="no">No filter</option>
				<option value="open">Open only</option>
				</select></div>-->

				{% for result in results.data %}
				<ul style="padding:0px;">
					<div style="border-bottom:1px solid #DDDDDD; text-align:left;padding-left:2px;margin-bottom:10px;" class="blue-gradient">
						<p class="list_field_name">{{ loop.index }}</p> 
						<p class="list_field_description">HouseNumber -- {{ result.Place.housenumber }}</p>
						<p class="list_field_description">Street -- {{ result.Place.road }}</p>
						<p class="list_field_description">City -- {{ result.Place.city }}</p>
						<p class="list_field_description">Postcode -- {{ result.Place.postcode }}</p>
					         {% if result.Place.phone_number is defined %}
                                            	<p class="list_field_description">Phone Number -- {{ result.Place.phone_number }}</p>
                                                 {%endif %}
						<p class="list_field_description">Coordinates -- {{ result.Place.lat }},{{ result.Place.lon }}</p>
						<a href="{{ result.url }}" target="_blank" class="list_field_link">Click Here -- {{ result.short_url}}</a>

					</div>
				</ul>
				{% endfor %}
				</div>

				<div class="col-md-8"  style="height:100%;border-left: 1px ridge #DDDDDD;padding-left:1px;">
					<div id="map-canvas"></div>
				</div>
			</div>
		</div>     

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/docs.min.js"></script>
		<script type="text/javascript">
			/*$('#filters').click(function(){
			alert("Filters button clicked");
			});*/

			function OnChange(dropdown){
				var index  = dropdown.selectedIndex
				var value = dropdown.options[myindex].value
			}
		</script>
	</body>
</html>
